




@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Light.eot);
    src:url(/fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Light.woff) format("woff"),
    	url(/fonts/ProximaNova-Light.ttf) format("truetype");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Reg-webfont.eot);
    src:url(/fonts/ProximaNova-Reg-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Reg-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Reg-webfont.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Sbold-webfont.eot);
    src:url(/fonts/ProximaNova-Sbold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Sbold-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Sbold-webfont.ttf) format("truetype");
    font-weight:500;
    font-style:normal
}

@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Bold-webfont.eot);
    src:url(/fonts/ProximaNova-Bold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Bold-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Bold-webfont.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}

@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Xbold-webfont.eot);
    src:url(/fonts/ProximaNova-Xbold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Xbold-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Xbold-webfont.ttf) format("truetype");
    font-weight:900;
    font-style:normal
}



@font-face{
    font-family:'Oswald';
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.eot);
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.eot?#iefix) format("embedded-opentype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.woff) format("woff"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.ttf) format("truetype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.svg#oswaldlight) format("svg");
    font-weight:100;
    font-style:normal
}
@font-face{
    font-family:'Oswald';
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.eot);
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.woff) format("woff"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.ttf) format("truetype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.svg#oswaldbold) format("svg");
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:'Oswald';
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.eot);
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.eot?#iefix) format("embedded-opentype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.woff) format("woff"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.ttf) format("truetype"),

    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.svg#oswaldbook) format("svg");
    font-weight:400;
    font-style:normal
}



    /*
    Flaticon icon font: Flaticon
    Creation date: 30/08/2018 08:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.fa-earthquake:before { content: "\f100"; }
.fa-earthquake-1:before { content: "\f101"; }
.fa-tornado:before { content: "\f102"; }
.fa-forest-fire:before { content: "\f103"; }
.fa-fire:before { content: "\f104"; }
.fa-storm:before { content: "\f105"; }
.fa-flood:before { content: "\f106"; }
.fa-flood-1:before { content: "\f107"; }
.fa-tsunami:before { content: "\f108"; }
.fa-drought:before { content: "\f109"; }
.fa-wind:before { content: "\f10a"; }
.fa-volcano:before { content: "\f10b"; }
.fa-avalanche:before { content: "\f10c"; }
.fa-landslide:before { content: "\f10d"; }
.fa-co2:before { content: "\f10e"; }
.fa-dust-storm:before { content: "\f10f"; }
.fa-hail:before { content: "\f110"; }
.fa-hole:before { content: "\f111"; }
.fa-comet:before { content: "\f112"; }
.fa-snow:before { content: "\f113"; }
    
$font-fa-earthquake: "\f100";
$font-fa-earthquake-1: "\f101";
$font-fa-tornado: "\f102";
$font-fa-forest-fire: "\f103";
$font-fa-fire: "\f104";
$font-fa-storm: "\f105";
$font-fa-flood: "\f106";
$font-fa-flood-1: "\f107";
$font-fa-tsunami: "\f108";
$font-fa-drought: "\f109";
$font-fa-wind: "\f10a";
$font-fa-volcano: "\f10b";
$font-fa-avalanche: "\f10c";
$font-fa-landslide: "\f10d";
$font-fa-co2: "\f10e";
$font-fa-dust-storm: "\f10f";
$font-fa-hail: "\f110";
$font-fa-hole: "\f111";
$font-fa-comet: "\f112";
$font-fa-snow: "\f113";